.container {
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    padding: 2rem;
    margin-bottom: 5rem;
}


.form-label {
    font-weight: bold;
    color: #03224c;
}

.form-control {
    border: 1px solid #ddd;
    border-radius: 4px;
    box-sizing: border-box;
    padding: 0.5rem;
    width: 100%;
}

.form-control:focus {
    border-color: #C04A0C;
    box-shadow: 0 0 0 0.2rem rgba(192, 74, 12, 0.25);
    outline: none;
}

.text-danger {
    color: #C04A0C;
}

.btn-primary {
    border: none;
    border-radius: 4px;
    color: #fff;
    padding: 0.5rem 1rem;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 1rem;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.btn-primary:hover {
    background-color: #03224c;
    text-decoration: none;
}

.btn-primary:focus {
    outline: 2px solid #C04A0C;
}

.btn-primary:disabled {
    background-color: #ddd;
    cursor: not-allowed;
}

a.btn-primary {
    display: inline-block;
    text-decoration: none;
}

h1 {
    color: #03224c;
    font-size: 2rem;
    font-weight: 600;
    margin-bottom: 2rem;
}